<%= form_for @recipe do |r| %>

<div class="field">
	<%= r.label :name %>
	<%= r.text_field :name %><br><br>
	<%= r.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %><br><br>
	<%= r.submit %>
<% end %>
</div>